@import "./secciones/index";
@import "./secciones/entradas";
@import "./secciones/contacto";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    } 
    
body {
    // display: flex;
    background-image: url("https://i.pinimg.com/474x/28/22/b3/2822b3872b2b0a227f1f0086c01c7bca.jpg");
    background-size: 8rem;
    // justify-content: center;
    // flex-wrap: wrap;
    // justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

