.bodyContacto {
    background-image: url(https://i.pinimg.com/originals/b5/8c/b1/b58cb13b8934dc3c9286616a193c5662.jpg);
    background-size: 13rem;
    width: 80%;
    margin: 0 auto;

    .header { 
        display: flex;
        flex-direction: column;

        .nav {
            height: 20px;

            .nav-ul {
                @extend %nav-ul;
                
                .li {
                    list-style: none;
                    margin-right: 5px;
                    
                    .a {
                        @extend %estilosA;
                    }
                }
                
            }

        }
        ul.nav-ul {
            height: 40px;
        }


        .imgHeader {
            height: 100%;
            margin-top: 20px;
        }
        .divHeader {
            @extend %div-header;

            .parrafoHeader {
                @extend %parrafoHeader;
            }
        }
    }

    .mainContacto {
        background-image: url(https://im.vsco.co/aws-us-west-2/47ce69/27011562/5ba7df8defe3346aafa3a066/vsco5ba7df8f03e4e.jpg?w=412&dpr=2.625);
        height: 608px;
        padding: 5px;

        .tituloMain {
            @extend %tituloMain;
        }


        .formContacto {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
        
            .form {
                background-color: rgba(255, 250, 254, 0.5);
                width: 70%;
                height: 510px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;

                .contenedor {   
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .nombres {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        padding-bottom: 10px;

                        .input {
                            padding: 5px;
                            border-radius: 5px;
                            border: 2px solid $colorFucsia;
                            caret-color: $colorFucsia;
                            width: 160px;
                            margin: 4px;
                        }
                        
                    }
                    .textarea {
                        border: 2px solid $colorFucsia;
                        padding: 5px;
                        border-radius: 5px;
                        width: 200px;
                    }
                }

                .botones {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 10px;
                
                }
            }
        }
    
    }

    .footerContacto {
        @extend %footer;
    }
}


//MEDIA QUERIES

//Para tablet
@media screen and (min-width: 720px) {
    .bodyContacto {
        .mainContacto {
        .tituloMain {
            width: max-content;
        }
        .formContacto {
            .form {
                .contenedor {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;

                    .nombres {
                        .input {
                            margin: 7px;
                        }
                    }

                    .textarea {
                        width: 230px;
                    }
                }
            }
        }
    }
    }
    
}

//Para escritorio:
@media screen and (min-width: 1200px) {

    .bodyContacto {
        .mainContacto {
            .formContacto {
                .form {
                    .contenedor {
                        .nombres {
                            .input {
                                width: 100%;
                            }
                        }
                        .textarea {
                            width: 100%;
                        }
                    }
                    .botones {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
    
    
}