.bodyContacto {
    background-image: url(https://i.pinimg.com/originals/b5/8c/b1/b58cb13b8934dc3c9286616a193c5662.jpg);
    background-size: 13rem;
    width: 80%;
    margin: 0 auto;

    .header { 
        display: flex;
        // width: 1100px;
        /* background-color: white; */
        flex-direction: column;
        // grid-area: header;
        // border-right: 5px solid white;
        // border-left: 5px solid white;

        .nav {
            height: 20px;

            .nav-ul {
                display: flex;
                    justify-content: center;
                    justify-content: space-evenly;
                    // height: 60px;
                    background-color: rgb(255, 255, 219);
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    // height: 40px;
                     width: 100%;
                
                .li {
                    list-style: none;
                    margin-right: 5px;
                    
                    .a {
                        text-decoration: none;
                        color: rgb(255, 13, 194);
                        font-family: 'Josefin Sans', sans-serif;
                        font-weight: bold;
                        font-size: 17px;
                        &:hover {
                            font-size: 20px;
                            color: rgb(255, 13, 194);
                        }
                    }
                }
                
            }

        }
        ul.nav-ul {
            height: 40px;
        }


        .imgHeader {
            height: 100%;
            margin-top: 20px;
        }
        .divHeader {
            // width: 1095px;
            height: 55px;
            background-color: rgb(255, 13, 194);
            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;
            color: white;
            // border-right: 5px solid white;

            .parrafoHeader {
                font-family: 'Yellowtail', cursive;
                font-weight: bold;
                font-size: 15px;
                margin-top: 13px;
            }
        }
    }

    .mainContacto {
        /* background-color: white; */
        background-image: url(https://im.vsco.co/aws-us-west-2/47ce69/27011562/5ba7df8defe3346aafa3a066/vsco5ba7df8f03e4e.jpg?w=412&dpr=2.625);
        height: 608px;
        padding: 5px;
        // height: 600px;
        // border-right: 5px solid white;
        // border-left: 5px solid white;
        // width: 1100px;

        .tituloMain {
            margin-top: 15px;
            font-size: 18px;
            font-family: 'Yellowtail', cursive;
            background-color: rgb(255, 255, 219);
            color: rgb(255, 13, 194);
            border: 1px solid white;
            width: 100%;
            border-radius: 10px;
            padding: 3px;
            box-shadow: 5px 5px 15px rgb(255, 13, 194);
        }

        // .tituloContactanos {
        //     width: 220px;
        // }

        .formContacto {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
        
            .form {
                background-color: rgba(255, 250, 254, 0.5);
                width: 70%;
                height: 510px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: stretch;

                .contenedor {
                    // display: flex;
                    // flex-direction: row;
                    // justify-content: space-evenly;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .nombres {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        padding-bottom: 10px;

                        .input {
                            padding: 5px;
                            border-radius: 5px;
                            border: 2px solid rgb(255, 13, 194);
                            caret-color: rgb(255, 13, 194);
                            width: 160px;
                            margin: 4px;
                        }
                        
                    }
                    .textarea {
                        border: 2px solid rgb(255, 13, 194);
                        padding: 5px;
                        border-radius: 5px;
                        width: 200px;
                    }
                }

                .botones {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 10px;
                
                }
            }
        }
    
    }

    .footerContacto {
        background-color: rgb(255, 13, 194);
        font-family: 'Yellowtail', cursive;
        font-weight: bold;
        font-size: 15px;
        color: white;
        grid-area: footer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}


//media queries

//Para tablet
@media screen and (min-width: 720px) {
    .bodyContacto {
        .mainContacto {
        .tituloMain {
            width: max-content;
        }
        .formContacto {
            .form {
                .contenedor {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;

                    .nombres {
                        .input {
                            margin: 7px;
                        }
                    }

                    .textarea {
                        width: 230px;
                    }
                }
            }
        }
    }
    }
    
}

//Para escritorio:

@media screen and (min-width: 1200px) {

    .bodyContacto {
        .mainContacto {
            .formContacto {
                .form {
                    .contenedor {
                        .nombres {
                            .input {
                                width: 100%;
                            }
                        }
                        .textarea {
                            width: 100%;
                        }
                    }
                    .botones {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
    
    
}