.bodyEntradas {
    background-image: url(https://i.pinimg.com/originals/6a/d4/8b/6ad48b1df792b002500743d3387f971f.png);
    
    background-size: 8rem;
    width: 80%;
    margin: 0 auto;

    .grillaEntradas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";

            .header { 
                display: flex;
               
                flex-direction: column;
                grid-area: header;

        
                    .nav {
                        height: 20px;
        
                        .nav-ul {
                            display: flex;
                            justify-content: center;
                            justify-content: space-evenly;
                            background-color: $colorAmarillo;
                            flex-direction: row;
                            justify-content: space-evenly;
                            align-items: center;
                            width: 100%;
                            .li {
                                list-style: none;
                                margin-right: 5px;
                                
                                .a {
                                    @extend %estilosA;
                                }
                            }
                            
                        }
        
                    }
                    ul.nav-ul {
                        height: 40px;
                    }
        
        
                    .imgHeader {
                        width: 100%;
                        margin-top: 20px;
                    }
                    .divHeader {
                        height: 55px;
                        background-color: $colorFucsia;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        color: white;

        
                        .parrafoHeader {
                            font-family: $font;
                            font-weight: bold;
                            font-size: 15px;
                            margin-top: 13px;
                        }
                    }
                }

                .mainEntrada {
                    grid-area: main;
                    background-color: $colorRosa;

                    .tituloMain {
                        margin-top: 15px;
                        font-size: 18px;
                        font-family: $font;
                        background-color: $colorAmarillo;
                        color: $colorFucsia;
                        border: 1px solid white;
                        width: 100%;
                        border-radius: 10px;
                        padding: 3px;
                        box-shadow: 5px 5px 15px $colorFucsia;
                    }

                    .divEntrada {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        margin-top: 3px;
                        justify-content: space-evenly;

                        .divImagEntradas {
                            
                            padding-bottom: 18px;
                            padding-left: 10px;
                            border-radius: 50px;
                            padding-right: 10px;
                            background-color: $colorRosa;
                            margin-top: 5px;

                            img.imgEntrada {
                                height: 250px;
                                width: 330px;
                                margin-top: 30px;
                                border-radius: 50px;
                                border: 5px solid rgb(204, 195, 195);
                                
                                &:hover {
                                    height: 250px;
                                    width: 330px;
                                }
                            }

                            .parrafoEntradas {
                                color: $colorFucsia;
                                font-size: 14px;
                                font-weight: bold;
                                font-family: $font2;
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                margin-top: 5px;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .asideEntradas {
                    grid-area: aside;
                    @include aside ($colorAmarillo, 3px, auto, 1rem);


                    

                    .imagenesAside {
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        margin-top: 33px;
                        margin-left: 15%;

                        .imagAside {
                            width: 100%;
                            object-fit: cover;
                            margin-top: 17px;
                            border: 5px solid $colorFucsia;
                            border-radius: 33px;
                        }
                        
                    }
                }

                footer {
                    background-color: $colorFucsia;
                    font-family: $font;
                    font-weight: bold;
                    font-size: 15px;
                    color: white;
                    grid-area: footer;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
    }
}

//media queries

//Para tablet
@media screen and (min-width: 720px) {
    .bodyEntradas {
        .grillaEntradas {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "main main aside"
            "footer footer footer";

            
                .mainEntrada {
                    .tituloMain {
                        width: 75%;
                    }
                    .divEntrada {
                        padding: 0 20px;
                    }
                }
            
    }
    }
    
}




//Para escritorio:

@media screen and (min-width: 1200px) {
    .bodyEntradas {
        .grillaEntradas {
        .mainEntrada {
            .tituloMain {
                width: 78%;
            }
            .divEntrada {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-left: 13px;

                .divImagEntradas {
                    img.imgEntrada {
                        height: 200px;
                        width: 280px;
                    }
                }
            }
        }
    }
    }
    
}



